node_modules/

dist/
public/

src/**/*.js
src/**/*.d.ts

.vscode
.DS_Store
.idea

docs/tsdoc

.benchmark
.coverage
.github/pages

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
**/*-ci-snapshots/

/vendors

